#management-page {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  width: 100%;
  padding: 2vh 2vw;
}
#management-page h2 {
  font-size: 40px;
}
.management-item {
  width: 100%;
  text-align: center;
}
.family_member {
  display: flex;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px 15px;
  margin: 1vh 0vw;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
.kick-btn {
  border-color: black;
  border-width: 2px;
  width: 20%;
  background-color: red;
  font-size: 25px;
  color: white;
}
#management-page-header {
  text-align: center;
  font-size: 50px;
}
#family-code {
  font-size: 35px;
}
#only-fam-member {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  #management-page {
    flex-direction: column;
    justify-content: end;
  }
}
