#landing-page {
  background: url("./../images/landingPage/happyFamily.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#landing-page-h1 {
  font-size: 4em;
  color: #2fbacc;
}

#landing-page-h2 {
  font-size: 1.5em;
  color: #369eac;
}

@media screen and (max-width: 768px) {
  #landing-page-h2 {
    display: none;
  }
}
