#landing-page {
  background: url("./../images/landingPage/cleaningChore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: white;
}

#landing-page-h1 {
  font-size: 4em;
  color: #044CA9;
}

#landing-summary{
  text-align: center;
  width: 50%;
  color: #000000;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #landing-summary{
    width: 90%;
  }
}
