#my-chores-page {
  text-align: center;
  height: 90vh;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chores {
  display: flex;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px 15px;
  margin: 1vh 3vw;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
.done-btn {
  border-color: black;
  border-width: 2px;
  width: 20%;
  background-color: #126312;
  font-size: 25px;
  color: white;
}

.done-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .done-btn{
    width: 30%;
    font-size: 15px;
  }
  .chores{
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .chores{
    width: 100%;
    flex-direction: column;
  }
  .done-btn,.chore-info{
    width: 100%;
  }
}